*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}

body{
    background-image: url(../img/index/image.png);
    background-size: cover;
    background-color: #6c63ff;
    background-position: right top;
    position: absolute;
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.texts{
    margin-left: 40px;
    z-index: 1;
    color: white;
}

.tittle{
    font-size: 100px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    -webkit-text-stroke: 2px black;
    padding-bottom: 20px;
    padding-top: 100px;
}

.subtitle{
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 40px;

    border-radius: 15px;
    border: none;

    font-size: 16px;
    background-color: #6c63ff;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #1b0fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.img{
    position: relative;
    top: 150px;
    right: 50px;
}